div {
  background-color: black;
  color: white;
  padding: 10px;
  a {
    color: white;
    display: block;
    margin: 0.5rem;
    text-decoration: none;
    &.linkAtual {
      color: red;
    }
  }
}
